.scheme-colors {
    flex: 1;
    display: flex;
    gap: 10px;
}

.palette-scheme--horizontal>.scheme-colors {
    flex-direction: row;
}

.palette-scheme--vertical>.scheme-colors {
    flex-direction: column;
}

.scheme-color {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}